<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.broadcastgroupware.mapper.ReservationMapper">
	
	<select id="getTotalCountByDate" resultType="int">
	    SELECT COUNT(DISTINCT v.vehicle_id)
	    FROM vehicle v
	    LEFT JOIN vehicle_reservation r
	        ON v.vehicle_id = r.vehicle_id
	        AND DATE(r.vehicle_reservation_start_time) = #{today}
	</select>

	
	<!-- 예약리스트 -->
	<select id="getCarReservationListByDate">
		SELECT DISTINCT
			v.vehicle_id AS vehicleId,
			v.vehicle_status AS vehicleStatus,
			v.vehicle_no AS vehicleNo,
			v.vehicle_type AS vehicleType,
			v.vehicle_name AS vehicleName,
			CASE 
				WHEN r.vehicle_reservation_start_time IS NULL THEN ''
				ELSE DATE_FORMAT(r.vehicle_reservation_start_time, '%Y-%m-%d %H:%i') 
			END AS reservationStart,
			CASE 
				WHEN r.vehicle_reservation_end_time IS NULL THEN ''
				ELSE DATE_FORMAT(r.vehicle_reservation_end_time, '%Y-%m-%d %H:%i') 
			END AS reservationEnd
		FROM vehicle v
		LEFT JOIN vehicle_reservation r
			ON v.vehicle_id = r.vehicle_id
			AND DATE(r.vehicle_reservation_start_time) = #{today}
		ORDER BY v.vehicle_id
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 차량등록 -->
	<insert id="addCar" parameterType="com.example.broadcastgroupware.domain.Vehicle">
		INSERT INTO vehicle(vehicle_status, vehicle_no, vehicle_type, vehicle_name)
		VALUES('Y', #{vehicleNo}, #{vehicleType}, #{vehicleName})
	</insert>
	
	<!-- 관리자용 차량리스트 -->
	<select id="adminCarList" resultType="com.example.broadcastgroupware.domain.Vehicle">
		SELECT vehicle_id AS vehicleId, vehicle_status AS vehicleStatus, vehicle_no AS vehicleNo,
		vehicle_type AS vehicleType, vehicle_name AS vehicleName
		FROM vehicle
	</select>
	
	<!-- 차량 정보 수정 -->
	<update id="modifyCar">
		UPDATE vehicle SET vehicle_no = #{vehicleNo}, vehicle_type = #{vehicleType}, vehicle_name = #{vehicleName}
		WHERE vehicle_id = #{vehicleId}
	</update>
	
	<!-- 이슈등록시 상태값 변경 -->
	<update id="modifyVehicleStatus">
		UPDATE vehicle SET vehicle_status = #{vehicleStatus}
		WHERE vehicle_id = #{vehicleId}
	</update>
	
	<!-- 이슈등록 -->
	<insert id="insertVehicleReason">
		INSERT INTO vehicle_use_reason(vehicle_id, vehicel_use_reason_content
								, vehicle_use_reason_start_date, vehicle_use_reason_end_date)
		VALUES(#{vehicleId}, #{vehicleUseReasonContent}, #{vehicleUseReasonStartDate}, #{vehicleUseReasonEndDate})
	</insert>
	
	<!-- 기존 예약이랑 겹치는지 확인 -->
	<select id="checkReservations" parameterType="com.example.broadcastgroupware.domain.VehicleReservation" resultType="int">
	    SELECT COUNT(*)
	    FROM vehicle_reservation
	    WHERE vehicle_id = #{vehicleId}
	      AND vehicle_reservation_start_time &lt;= STR_TO_DATE(#{vehicleReservationStartTime}, '%Y-%m-%d %H:%i:%s')
	      AND vehicle_reservation_end_time &gt;= STR_TO_DATE(#{vehicleReservationEndTime}, '%Y-%m-%d %H:%i:%s')
	</select>
	
	<!-- 차량 예약 -->
	<insert id="carReservation" parameterType="com.example.broadcastgroupware.domain.VehicleReservation">
	    INSERT INTO vehicle_reservation(
	        user_id, vehicle_id, vehicle_reservation_start_time, vehicle_reservation_end_time
	    )
	    VALUES(
	        #{userId},
	        #{vehicleId},
	        STR_TO_DATE(#{vehicleReservationStartTime}, '%Y-%m-%d %H:%i:%s'),
	        STR_TO_DATE(#{vehicleReservationEndTime}, '%Y-%m-%d %H:%i:%s')
	    )
	</insert>

</mapper>