<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.broadcastgroupware.mapper.ReservationMapper">
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM vehicle
	</select>
	
	<select id="getCarReservationList">
		SELECT 
			v.vehicle_id AS vehicle,
			v.vehicle_status AS status,
			v.vehicle_no AS vehicleNo,
			v.vehicle_type AS vehicleType,
			v.vehicle_name AS vehicleName,
			CASE 
				WHEN r.vehicle_reservation_start_time IS NULL THEN ''
				ELSE DATE_FORMAT(r.vehicle_reservation_start_time, '%Y-%m-%d %H:%i') 
			END AS reservationStart,
			CASE 
				WHEN r.vehicle_reservation_end_time IS NULL THEN ''
				ELSE DATE_FORMAT(r.vehicle_reservation_end_time, '%Y-%m-%d %H:%i') 
			END AS reservationEnd
		FROM vehicle v
		LEFT JOIN vehicle_reservation r
			ON v.vehicle_id = r.vehicle_id
		WHERE v.vehicle_status = 'Y'
		ORDER BY v.vehicle_id
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<insert id="addCar" parameterType="com.example.broadcastgroupware.domain.Vehicle">
		INSERT INTO vehicle(vehicle_status, vehicle_no, vehicle_type, vehicle_name)
		VALUES('Y', #{vehicleNo}, #{vehicleType}, #{vehicleName})
	</insert>
	
	<select id="adminCarList" resultType="com.example.broadcastgroupware.domain.Vehicle">
		SELECT vehicle_id AS vehicleId, vehicle_status AS vehicleStatus, vehicle_no AS vehicleNo,
		vehicle_type AS vehicleType, vehicle_name AS vehicleName
		FROM vehicle
	</select>
	
	<update id="modifyCar">
		UPDATE vehicle SET vehicle_no = #{vehicleNo}, vehicle_type = #{vehicleType}, vehicle_name = #{vehicleName}
		WHERE vehicle_id = #{vehicleId}
	</update>
	
	<update id="modifyVehicleStatus">
		UPDATE vehicle SET vehicle_status = #{vehicleStatus}
		WHERE vehicle_id = #{vehicleId}
	</update>
	
	<insert id="insertVehicleReason">
		INSERT INTO vehicle_use_reason(vehicle_id, vehicel_use_reason_content
								, vehicle_use_reason_start_date, vehicle_use_reason_end_date)
		VALUES(#{vehicleId}, #{vehicleUseReasonContent}, #{vehicleUseReasonStartDate}, #{vehicleUseReasonEndDate})
	</insert>
	
</mapper>