<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.broadcastgroupware.mapper.VacationMapper">
	<!--현재 근무하고있는 직원들의 userId-->
	<select id="selectJoinUser" resultType="int">
		SELECT user_id userId FROM user WHERE user_resign_date is null
	</select>
	
	<!--전년도에 일한 개월수 만큼 연차 추가-->
	<update id="updateVacation">
		update vacation set vacation_annual_total = (vacation_annual_total+
			(SELECT case when year(user_join_date) = YEAR(NOW())-1 then 13-MONTH(user_join_date) 
			ELSE 12 end vac FROM user WHERE user_id=#{userId}))
		WHERE user_id = #{userId}
	</update>
	
	<!--휴가결재 승인되면 휴가테이블에 사용한 휴가일 수 반영-->
	<update id="updateUseVacation">
		UPDATE vacation SET vacation_annual_use=vacation_annual_use+(SELECT vacation_history_day FROM vacation_history WHERE
			approval_line_id=(SELECT vh.approval_line_id FROM vacation_history vh INNER JOIN approval_line al
			ON vh.approval_line_id = al.approval_line_id WHERE vh.create_date = (SELECT MAX(create_date) FROM vacation_history)))
		WHERE user_id=(SELECT ad.user_id FROM vacation_history vh INNER JOIN approval_line al ON al.approval_line_id = vh.approval_line_id
							INNER JOIN approval_document ad ON al.approval_document_id = ad.approval_document_id
							INNER JOIN vacation_form vf ON vf.approval_document_id = ad.approval_document_id
						WHERE vh.create_date=(SELECT MAX(vh.create_date) FROM vacation_history vh 
													INNER JOIN approval_line al ON al.approval_line_id = vh.approval_line_id
													INNER JOIN approval_document ad ON al.approval_document_id = ad.approval_document_id))
	</update>
</mapper>